/*
  layout
*/
.wrap {
  width: 100%;
  min-width: 1200px;
  &.m-wrap {
    min-width: unset;
  }
}


/*
  header
*/
header {
  .container-fluid, .container {
    .navbar {
      h1 {
        font-size: inherit;
      }

      .login_area {
        display: inline-block;
        color: $white;
        font-size: 14px;

        i {
          margin-left: 11px;
          font-size: 14px;
        }

        .btn-close {
          padding: 7px 0px 7px 7px;
        }

        .login {
          display: block;
          color: $white;
          font-size: 14px;

          img {
            margin-left: 11px;
            vertical-align: sub;
          }
          .text {
            display: none;
          }
        }
      }
      .page-area {
        display: inline-block;
        color: $white;
        font-size: 14px;
        .item {
          margin-left: 40px;
          position: relative;
          display: inline-block;
          .page {
            color: $primary;
            font-size: 18px;
          }
          .pages {
            color: $white;
            font-size: 18px;
          }
          i {
            color: $white;
            font-size: 26px;
            &.fa-pause {
              display: none;
            }
          }
          &::before {
            content: '';
            position: absolute;
            border-left: 1px solid #714848;
            width: 2px;
            height: 20px;
            top: 3px;
            left: -23px;
          }
          &:first-child {
            &::before {
              content: none;
            }
          }
          &.active {
            i {
              &.fa-pause {
                display: inline-block;
              }
              &.fa-play {
                display: none;
              }
            }
          }
        }
      }
    }

    &.edit {
      padding: 0 40px;
      max-width: unset;
    }
  }
  .container {
    .navbar-brand {
      img {
        width: 120px;
        height: auto;
      }
    }
  }
  .pofol {
    padding-top: 0 !important;
    margin-bottom: 0 !important;
    .navbar-brand {
      position: absolute;
      left: 0;
      top: 17px;
    }
    .title {
      margin: 0 auto;
      color: $white;
      font-size: 36px;
    }
  }
}


/*
  footer
*/
footer {
  z-index: 100;
  width: 100%;
  min-width: 1200px;
  height: 60px;
  background-color: #777;
  border: solid 1px #707070;
  &.m-footer {
    min-width: unset;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
  }
  .footer {
    width: 1200px;
    padding: 0 50px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 60px;
    color: #fff;
    vertical-align: middle;

    .copyright {
      color: #fff;
      font-size: 12px;
    }
  }
}

@media (min-width: 992px) {
}

@media (min-width: 768px) {

}
@media (min-width: 576px) {
  header {
    .container {
      .navbar-brand {
        img {
          width: auto;
          height: auto;
        }
      }
      .login {
        .text {
          display: inline-block !important;
        }
      }
    }
  }
}
