/*
  layout
*/
.wrap {
  width: 100%;
  min-width: 1200px;
  &.m-wrap {
    min-width: unset;
  }
}


/*
  header
*/
header {
  .container-fluid, .container {
    .navbar {
      h1 {
        font-size: inherit;
      }

      .login_area {
        display: inline-block;
        color: $white;
        font-size: 14px;

        i {
          margin-left: 11px;
          font-size: 14px;
        }

        .btn-close {
          padding: 7px 0px 7px 7px;
        }

        .login {
          display: block;
          color: $white;
          font-size: 14px;

          img {
            margin-left: 11px;
            vertical-align: sub;
          }
          .text {
            display: none;
          }
        }
      }
    }

    &.edit {
      padding: 0 40px;
      max-width: unset;
    }
  }
  .container {
    .navbar-brand {
      img {
        width: 120px;
        height: auto;
      }
    }
  }
}


/*
  footer
*/
footer {
  z-index: 100;
  width: 100%;
  min-width: 1200px;
  height: 60px;
  background-color: #777;
  border: solid 1px #707070;
  &.m-footer {
    min-width: unset;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
  }
  .footer {
    width: 1200px;
    padding: 0 50px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 60px;
    color: #fff;
    vertical-align: middle;

    .copyright {
      color: #fff;
      font-size: 12px;
    }
  }
}

@media (min-width: 992px) {
}

@media (min-width: 768px) {

}
@media (min-width: 576px) {
  header {
    .container {
      .navbar-brand {
        img {
          width: auto;
          height: auto;
        }
      }
      .login {
        .text {
          display: inline-block !important;
        }
      }
    }
  }
}
