/*
  layout
*/
.wrap {
  width: 100%;
  min-width: 1200px;
}


/*
  header
*/
header {
  .container-fluid {
    .navbar {
      h1 {
        font-size: inherit;
      }

      .login_area {
        display: inline-block;
        color: $white;
        font-size: 14px;

        i {
          margin-left: 11px;
          font-size: 14px;
        }

        .btn-close {
          padding: 7px 0px 7px 7px;
        }
      }
    }
    &.edit {
      padding: 0 40px;
      max-width: unset;
    }
  }
}

// header
//.bg-header {
//  min-width: 1200px;
//  z-index: 100;
//  background-color: #001D2E;
//}

// wrap
//.wrap {
//  width: 100%;
//  .navbar {
//    &.navbar-expand {
//      max-width: 1200px;
//      margin: 0 auto;
//      padding-left: 50px;
//      padding-right: 50px;
//    }
//    .nav-item {
//      padding-left: 2px;
//    }
//  }
//
//  // custom container
//  .container-fluid {
//    min-width: 1200px;
//  }
//}

// footer
footer {
  z-index: 100;
  width: 100%;
  min-width: 1200px;
  height: 60px;
  background-color: #777;
  border: solid 1px #707070;

  .footer {
    width: 1200px;
    padding: 0 50px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 60px;
    color: #fff;
    vertical-align: middle;

    .copyright {
      color: #fff;
    }
  }
}
